/* This css file contains the css used in header, footer and button  */





/* Header Styles */
.hobby-header {
    background-color: #f8f8f8;
    width: 100%;
}

.hobby-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    
}

.hobby-title{
    font-size: 58px; 
    font-weight: bold;
    color: #5b041b; 
    margin-left: 10px;
    
}

.hobby-header .hobby-logo {
    width: 130px;
    height: 130px;
    margin-right: 10px;
}

.hobby-nav {
    float: right;
}

.hobby-nav ul li {
    display: inline-block;
}

.hobby-nav ul {
    padding: 0;
    margin: 0;
}

.hobby-nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    line-height: 120px;
}

.hobby-nav ul li a:hover {
    color: red;
}

 /* Footer Styles */
 #hobby-footer {
    display: block;
    text-align: center;
    background-color: grey;
    color: green;
    margin-top: 10px;
}

#hobby-footer ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    line-height: 80px;
}

#hobby-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#hobby-footer li {
    display: inline;
}

#hobby-footer ul li a:hover {
    color: red;
}

.book-now-btn {
width: 15%;
height: 50px;
border-radius: 25px;
background-color: #343eee;
color: white;
font-weight: bold;
border: 2px solid #343eee;
font-size: 16px;
text-transform: uppercase;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.book-now-btn:hover {
background-color: #ff6347;
color: white;
transform: scale(1.1);
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

